/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Bartle&family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Nastaliq+Urdu:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Science+Gothic:wght@100..900&display=swap'); */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  color: white;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
button:hover {
  scale: 0.95;
  transition: ease-in-out;
  animation-duration: 120s;
}

button:active {
  scale: 1.04;
  transition: ease-in-out;
  animation-duration: 120s;
}

/* From Uiverse.io by milegelu */
.grid-background {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image:
    linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.marquee-inner {
  animation: marqueeScroll 15s linear infinite;
}

.marquee-inner-testimonials {
  animation: marqueeScroll 35s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

#BgBlurry {
  background: rgba(0, 0, 0, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(0, 0, 0, 0.42);
}

.Stripes {
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 50px,
    #ffffff 40px,
    #000000 20px
  );
}

.outlined-text {
  font-size: 60px;
  font-weight: bold;
  color: transparent; /* text ka fill transparent */
  -webkit-text-stroke: 2px white; /* border ka color aur width */
  text-align: center;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #18181ba6;
}
